ion-card{
    position: relative;
    left: -10px;
    width: 350px;
    height: 350px ;
    background-image: url(../../assets/ChestPictures/body.svg);
    background-size: 350px 350px;
}
.one{
    position: relative;
    top:100px;
    left: 100px;
    width: 150px;

}
