<ion-header>
  <ion-toolbar>
    <ion-title>Click Pain Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      class="one"
      (click)="oneClick()"
      src="../../assets/ChestPictures/{{oneGray||'chest1_gray.svg'}}"
      alt=""
    />
    <img
      class="two"
      (click)="twoClick()"
      src="../../assets/ChestPictures/{{twoGray||'chest2_gray.svg'}}"
      alt=""
    />
    <img
      class="thr"
      (click)="thrClick()"
      src="../../assets/ChestPictures/{{thrGray||'chest3_gray.svg'}}"
      alt=""
    />
    <img
      class="fou"
      (click)="fouClick()"
      src="../../assets/ChestPictures/{{fouGray||'chest4_gray.svg'}}"
      alt=""
    />
    <img
      class="fiv"
      (click)="fivClick()"
      src="../../assets/ChestPictures/{{fivGray||'chest5_gray.svg'}}"
      alt=""
    />
    <img
      class="six"
      (click)="sixClick()"
      src="../../assets/ChestPictures/{{sixGray||'chest6_gray.svg'}}"
      alt=""
    />
    <img
      class="sev"
      (click)="sevClick()"
      src="../../assets/ChestPictures/{{sevGray||'chest_7gray.svg'}}"
      alt=""
    />
  </ion-card>
  <a nav-transition="none" href="/tabs/tab3"
    ><ion-button class="nextButton">Next</ion-button></a
  >
</ion-content>
