<ion-header>
  <ion-toolbar>
    <ion-title>Click Pain Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
          
        <img class="one" (click)="oneClick()" src="../../assets/ChestPictures/{{oneGray||'chest1_gray.svg'}}" alt=""/>
        <img class="two" (click)="twoClick()" src="../../assets/ChestPictures/{{twoGray||'chest2_gray.svg'}}" alt=""/>
        <img class="thr" (click)="thrClick()" src="../../assets/ChestPictures/{{thrGray||'chest3_gray.svg'}}" alt=""/>
        <img class="fou" (click)="fouClick()" src="../../assets/ChestPictures/{{fouGray||'chest4_gray.svg'}}" alt=""/>
      
  </ion-card>

</ion-content>
