ion-card{
    position: relative;
    left: -10px;
    width: 350px;
    height: 350px ;
    background-image: url(../../assets/ChestPictures/body.svg);
    background-size: 350px 350px;
}
.one{
    position: relative;
    top:100px;
    left: 73px;
    width: 200px;

}
.two{
    position: relative;
    left: 35px;
    top: 100px;
    width: 280px;
}
.thr{
    position: relative;
    left: 65px;
    top: 60px;
    width: 215px;
}
.fou{
    position: relative;
    top: 150px;
    left: 100px;
    width: 170px;
}