<ion-header>
  <ion-toolbar>
    <ion-title>
      Medical History
      
      <ion-item>
        <ion-label>Current or Past Condition</ion-label>
      </ion-item>
    
      <ion-grid>
        <ion-row>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Heart disease</ion-label>
              <ion-checkbox slot="start" value="heartDisease"></ion-checkbox>
            </ion-item>
          </ion-col>
      
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Anemia or other blood disease</ion-label>
              <ion-checkbox slot="start" value="anemiaOrBlood"></ion-checkbox>
            </ion-item>
          </ion-col>

          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Severe headaches</ion-label>
              <ion-checkbox slot="start" value="severeHeadaches"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Neck pain</ion-label>
              <ion-checkbox slot="start" value="neckPain"></ion-checkbox>
            </ion-item>
          </ion-col>
        
          <ion-col size-lg="3"> 
            <ion-item>
              <ion-label>High blood pressure</ion-label>
              <ion-checkbox slot="start" value="highBloodPressure"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Thyroid disease</ion-label>
              <ion-checkbox slot="start" value="thyroidDisease"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Seizures</ion-label>
              <ion-checkbox slot="start" value="seizures"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Back pain</ion-label>
              <ion-checkbox slot="start" value="backPain"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>High cholesterol</ion-label>
              <ion-checkbox slot="start" value="highCholesterol"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Stomach disease</ion-label>
              <ion-checkbox slot="start" value="stomachDisease"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Stroke</ion-label>
              <ion-checkbox slot="start" value="storke"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Sleep apnea</ion-label>
              <ion-checkbox slot="start" value="sleepApnea"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Lung disease</ion-label>
              <ion-checkbox slot="start" value="lungDisease"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Kidney, bladder or prostate disease</ion-label>
              <ion-checkbox slot="start" value="kidneyBladderProstate"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Blood clots</ion-label>
              <ion-checkbox slot="start" value="bloodClots"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Diabetes</ion-label>
              <ion-checkbox slot="start" value="diabetes"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Cancer (past or present)</ion-label>
              <ion-checkbox slot="start" value="cancer"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>Depression</ion-label>
              <ion-checkbox slot="start" value="depression"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3">
            <ion-item>
              <ion-label>______________</ion-label>
              <ion-checkbox slot="start" value="blank"></ion-checkbox>
              <ion-input type="text" [(ngModel)]="Firstname" test-right id="input"></ion-input>
            </ion-item>
          </ion-col>


        </ion-row>
      </ion-grid>


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
