<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="name">
      
      <ion-item>
        <!-- this is tab for Firstname -->
        <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" [(ngModel)]="Firstname" test-right id="input"></ion-input>

        <!-- this is tab for middlename -->
        <ion-label position="stacked">Middle Name(Option) </ion-label>
        <ion-input type="text" [(ngModel)]="MiddleName" test-right id="input"></ion-input>
        <!-- this is tab for lastname -->
        <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" [(ngModel)]="LastName" test-right id="input"></ion-input>
      </ion-item>
    </ion-card>

      <!-- gender selection -->
      <ion-card clas = "gender">
      <ion-item>
          <ion-radio-group [(ngModel)]="selectGender" (ionChange)='getGender()'>
            <ion-row>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value = "Male" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value = "Female"></ion-radio>
            </ion-item>
          </ion-row>
          </ion-radio-group>
      </ion-item>
      </ion-card>

      <ion-card>
        <ion-label>Date of Birth</ion-label>
          <ion-datetime [(ngModel)] = "dateOfBirth" (ionChange)='getDOB()' value="null" placeholder="Select Date"></ion-datetime>
      </ion-card>

      
      
</ion-content>