.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card {
  margin: 20px 0;
}

.fName {
  border: 1px solid #000000;
}

.mName {
  border: 1px solid #000000;
}

.lName {
  border: 1px solid #000000;
  margin-bottom: 20px;
}

.loginButton {
  margin-left: 45%;
  margin-right: 45%;
  font-size: 100%;
  width: 10%;
  height: 10%;
}
