.pstart {
  border: 1px solid #000000;
}

.pRadiat {
  border: 1px solid #000000;
}
.painBeganInput {
  border: 1px solid #000000;
}
.otherText {
  border: 1px solid #000000;
}
.nextButton {
  margin-top: 5%;
  margin-left: 45%;
  margin-right: 45%;
  font-size: 100%;
  width: 10%;
  height: 10%;
}
